In [86]:
names=["John", "Jack", "James","Jimmy"]

In [2]:
for i in names:
    print(i)

John
Jack
James
Jimmy

In [5]:
i=0
while i<len(names):
    print(names[i])
    i=i+1

John
Jack
James
Jimmy

In [6]:
range(1,10,2)

range(1, 10, 2)

In [7]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [9]:
i=1
while i<10:
    print (i)
    i=i+2

1
3
5
7
9

In [10]:
for i in names:
    print("Super ",i)

Super  John
Super  Jack
Super  James
Super  Jimmy

In [11]:
i=0
while i<len(names):
    print("Super ",names[i])
    i=i+1

Super  John
Super  Jack
Super  James
Super  Jimmy

In [28]:
names_up=[]
for i in names:
    names_up.append(i.upper())
print(names_up)

['JOHN', 'JACK', 'JAMES', 'JIMMY']

In [89]:
names_up=[]
i=0
while i<len(names):
    names_up.append(names[i].upper())
    i=i+1
print (names_up)

['JOHN', 'JACK', 'JAMES', 'JIMMY']

In [88]:
for i in names:
    if i[0]=="J":
        print('male')

male
male
male
male

In [4]:
i=0
while i<len(names):
    if names[0][0]=="J":
        print('male')
    i=i+1

male
male
male
male

In [9]:
num_list=[0,10,255,22,10,56,78,987,15555]

In [10]:
for i in num_list:
    if len(str(i))<3:
        print(i)
    else:
        print(i*2)

0
10
510
22
10
56
78
1974
31110

In [12]:
i=0
while i<len(num_list):
    if len(str(num_list[i]))<3:
        print(num_list[i])
    else:
        print(num_list[i]*2)
    i=i+1

0
10
510
22
10
56
78
1974
31110

In [97]:
stock_list=["AAPL","GOOGL","IBM","MSFT","FB"] #???????????????? to ask

In [99]:
i=len(stock_list)
while i>0:
    stock_list.pop()
    i=i+1
print(stock_list)

[]

In [81]:
for i in stock_list:   #runned for several times
    stock_list.pop()
print (stock_list)

[]

In [102]:
name_list = ["Jack","James","Alice",
            "Jimmy","John","Andrea",
            "Joshua","Jonathan","Anastasia"]

In [104]:
for i in  range(len(name_list)):
    if i%3==2:
        print(name_list[i])

Alice
Andrea
Anastasia

In [106]:
i=2
while i<len(name_list):
    print(name_list[i])
    i=i+3

Alice
Andrea
Anastasia

In [107]:
i=2
while i<len(name_list):
    if i%3==2:
        print(name_list[i])
    i=i+1

Alice
Andrea
Anastasia

In [108]:
digits=[ "1","12","123" ]

In [109]:
one_digit=[]
two_digit=[]
three_digit=[]
for i in digits:
        if (len(i))==1:
            one_digit.append(i)
        elif (len(i))==2:
            two_digit.append(i)
        else:
            three_digit.append(i)
one_digit,two_digit,three_digit

(['1'], ['12'], ['123'])

In [119]:
one_digit=[]
two_digit=[]
three_digit=[]

i=0
while i<len(digits):
    if (len(digits[i]))==1:
        one_digit.append(digits[i])
        print(one_digit)
    elif (len(digits[i]))==2:
        two_digit.append(digits[i])
        print(two_digit)
    else:
        three_digit.append(digits[i])
        print(three_digit)
        
    
    
    i=i+1

['1']
['12']
['123']